<% layout('layouts/boilerplate')%>
    <h1>ww</h1>
    <a href="/campground/new">Add campground</a>
        <%for (let camps of camp){%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                     <% if(camps.images.length) { %>
                        <img src="<%= camps.images[0].url %>" alt="" class="img-fluid rounded-start">
                    <% }else{%> 
                        <img src="https://res.cloudinary.com/dbjmfhsvj/image/upload/v1643696065/YelpCamp/i79g6lvcinc3xlhhwx5b.jpg" alt="" class="img-fluid rounded-start"> 
                    <% } %>    
                        
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title"><%= camps.title %></h4>
                            <p class="card-text"><%= camps.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= camps.location %></small>
                            </p>
                            <p class="card-text">$<%= camps.price %>/Night</p>
                            <a href="/campground/<%= camps._id %>" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
       <% } %>
    
