<% layout('layouts/boilerplate')%>
<div class="grid">
    <div class="col-md-6 offset-3">
        <a href="/campground" class="pb-5">Back to list</a>
        <div class="card mt-2">
            <img src="<%= camp.image %> " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= camp.title %></h5>
              <p class="card-text"><%= camp.description %>.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: $<%= camp.price %>/Night</li>
              <li class="list-group-item">Location: <%= camp.location %></li>
            </ul>
            <div class="card-body">
              <a class="btn btn-primary px-3" href="/campground/<%= camp._id %>/edit" class="card-link">Edit</a>
              <form class="d-inline px-3" action="/campground/<%= camp._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
    </div>
</div>

